<style type="text/css">

</style>


<p class="lead">Siapkan hasil visitasi sekolah. Pilih satuan pendidikan yang akan laporkan hasil visitasinya. Kemudian pindahkan hasil visitasi tersebut ke dalam aplikasi skoring pada langkah selanjutnya. </p>

<table class="table" ng-repeat="asesor in vm.data.asesor">
    <tbody>
        <tr>
            <th class="col-md-2">Nama</th>
            <td width="1%">:</td>
            <td>{{ asesor.nama }}</td>
        </tr>
        <tr>
            <th>NIK</th>
            <td>:</td>
            <td>{{ asesor.nik }}</td>
        </tr>
        <tr>
            <th>Pekerjaan</th>
            <td>:</td>
            <td>{{ asesor.pekerjaan }}</td>
        </tr>
    </tbody>
</table>

<div class="list-group" >
	<div class="list-group-item relax" ng-repeat="sekolah in vm.data.data">
        <div class="pull-right">
            <div class="ui mini statistics">
                <div class="statistic">
                    <div class="value">
                        {{ sekolah.prodi.hasil.evaluasi.peringkat }} ( {{ sekolah.prodi.hasil.evaluasi.nilai }} )
                    </div>
                    <div class="label">
                        Evaluasi diri
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        {{ sekolah.prodi.hasil.visitasi.peringkat_akhir }} ( {{ sekolah.prodi.hasil.visitasi.nilai_akhir }} )
                    </div>
                    <div class="label">
                        Visitasi
                    </div>
                </div>
            </div>
        </div>

        <div class="hide">
            {{ sekolah.prodi_id = sekolah.prodi.id }}
        </div>

		<div class="text-danger"><p>{{ sekolah.nama }}</p></div>
        <div>{{ sekolah.prodi.nama }}</div>
		<div class="">{{ sekolah.alamat }}</div>
        <div><span class="octicon octicon-device-mobile"></span> {{ sekolah.nomor_telepon }} - {{ sekolah.nomor_hp}}</div>
        <hr />

        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="octicon octicon-desktop-download"></span> Download berkas <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ vm.url }}/api/v-evaluasi/{{ vm.token }}/{{ sekolah.prodi.id }}" target="_blank">
                        <span class="octicon octicon-file-pdf"></span> Evaluasi diri
                    </a>
                </li>
                <li>
                    <a href="{{ sekolah.prodi.hasil.evaluasi.dokumen }}" target="_blank">
                        <span class="octicon octicon-file-pdf"></span> Dokumen pendukung
                    </a>
                </li>
            </ul>
        </div>
        <a ng-click="vm.visitasi(sekolah.npsn, sekolah.prodi.id)" class="btn btn-default">
            Mulai visitasi <span class="octicon octicon-repo-force-push"></span>
        </a>
        <!-- <a ui-sref="asesor.visitasi({npsn:sekolah.npsn, prodi: sekolah.prodi.id})" class="btn btn-default">
            Mulai visitasi <span class="octicon octicon-repo-force-push"></span>
        </a> -->
        <!-- <a href="" class="btn btn-primary">Download hasil
            <span class="octicon octicon-desktop-download"></span>
        </a>-->
	</div>
</div>

<div class="list-group well">
    <div class="list-group-item relax">
        <div class="text-danger"><p>RESET DATA UNTUK MENGGANTI TOKEN</p></div>
        <div>APABILA DATA VISTASI DI ATAS TIDAK SESUAI DENGAN TOKEN YANG ANDA GUNAKAN ANDA DAPAT MELAKUKAN INPUT TOKEN ULANG DENGAN MENGKLIK TOMBOL DI BAWAH INI.</div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-danger" ng-click="vm.reset()"><span class="octicon octicon-alert"></span> Reset data</button>
            </div>
            <div class="col-md-10">
                Apabila anda mengklik tombol di samping maka akan menghapus data memori yang digunakan untuk penyimpanan sementara hasil visitasi pada browser anda.
            </div>
        </div>
    </div>
</div>

