<!-- <section id="step-0" class="step">
    <p class="lead" style="border-bottom: 1px solid #EFEFEF; margin-bottom: 20px; padding-bottom: 10px;">BIODATA TERISI</p>
    <a href="/#/sekolah/biodata?step=1" class="btn btn-primary">Update</a>
</section> -->
<style type="text/css">
    section {
        margin-bottom: 80px;
    }
</style>

<section id="step-1" class="step"> 
    
    <p class="lead" style="border-bottom: 1px solid #EFEFEF; margin-bottom: 20px; padding-bottom: 10px;">1 OF 7 : BIODATA</p>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">NPSN *</label>
                <input class="form-control input-sm" type="text" ng-model="sekolah.npsn" placeholder="NPSN"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">NIS *</label>
                <input class="form-control input-sm" type="text" ng-model="sekolah.nss" placeholder="NSS"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">Nama Sekolah/Madrasah *</label>
        <input class="form-control input-sm" type="text" ng-model="sekolah.nama" placeholder="Nama sekolah/madrasah"/>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Jenjang *</label>
                <select 
                    class="form-control input-sm" 
                    ng-model="sekolah.jenjang_id"
                    ng-options="jenjang.id as jenjang.nama for jenjang in config.jenjang">
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Status *</label>
                <select 
                    class="form-control input-sm" 
                    ng-model="sekolah.status"
                    ng-options="status.id as status.nama for status in config.status">
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">Alamat *</label>
        <input class="form-control input-sm" type="text" ng-model="sekolah.alamat" placeholder="Alamat"/>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <input class="form-control input-sm" type="text" ng-model="sekolah.dusun" placeholder="Dusun"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control input-sm" type="text" ng-model="sekolah.alamat_no" placeholder="No"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control input-sm" type="text" ng-model="sekolah.alamat_rt" placeholder="RT"/>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control input-sm" type="text" ng-model="sekolah.alamat_rw" placeholder="RW"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Provinsi * {{ sekolah.provinsi_id }}</label>
                <select 
                    class="form-control input-sm" 
                    ng-model="sekolah.provinsi_id"
                    ng-options="provinsi.id as provinsi.nama for provinsi in config.wilayah.provinsi">
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Kabupaten / Kota *</label>
                <select 
                    class="form-control input-sm" 
                    ng-model="sekolah.kota_id" 
                    ng-options="kota.id as kota.nama for kota in config.wilayah.kota">
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Kecamatan *</label>
                <select 
                    class="form-control input-sm" 
                    ng-model="sekolah.kecamatan_id" 
                    ng-options="kecamatan.id as kecamatan.nama for kecamatan in config.wilayah.kecamatan">
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Kelurahan / Desa *</label>
                <select 
                    class="form-control input-sm" 
                    ng-model="sekolah.desa_id" 
                    ng-options="desa.id as desa.nama for desa in config.wilayah.desa">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Kode Pos *</label>
                <input class="form-control input-sm" type="text" ng-model="sekolah.kode_pos" placeholder="Kode pos"/>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Telepon *</label>
                <input class="form-control input-sm" type="text" ng-model="sekolah.telepon" placeholder=""/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Handphone *</label>
                <input class="form-control input-sm" type="text" ng-model="sekolah.handphone" placeholder=""/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Fax *</label>
                <input class="form-control input-sm" type="text" ng-model="sekolah.fax" placeholder=""/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Email *</label>
                <input class="form-control input-sm" type="text" ng-model="sekolah.email" placeholder=""/>
            </div>
        </div>
    </div>

    <hr />
    <button class="btn btn-primary btn-sm" ng-click="nextstep(2)">Langkah selanjutnya</button>

</section>

<section id="step-2" class="step">
    <p class="lead" style="border-bottom: 1px solid #EFEFEF; margin-bottom: 20px; padding-bottom: 10px;">2 OF 7 : YAYASAN</p>    
    <p>Hanya di tujukan sekolah/madrasah swasta.</p>

    <div ng-hide="sekolah.status == 'N'">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label class="form-label">Nama yayasan *</label>
                    <input class="form-control input-sm" type="text" ng-model="sekolah.yayasan.nama" placeholder="nama yayasan"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="form-label">Alamat yayasan *</label>
                    <textarea class="form-control input-sm" ng-model="sekolah.yayasan.alamat" rows="5" placeholder="alamat yayasan"/></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Nomor akte *</label>
                    <input class="form-control input-sm" type="text" ng-model="sekolah.yayasan.akte_no" placeholder="nama yayasan"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Tanggal akte *</label>
                    <input class="form-control input-sm" type="text" ng-model="sekolah.yayasan.akte_tanggal" placeholder="nama yayasan"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Nama notaris *</label>
                    <input class="form-control input-sm" type="text" ng-model="sekolah.yayasan.akte_notaris" placeholder="nama yayasan"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Akte pengesahan *</label>
                    <input class="form-control input-sm" type="text" ng-model="sekolah.yayasan.akte_pengesahan" placeholder=""/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Telepon *</label>
                    <input class="form-control input-sm" type="text" ng-model="sekolah.yayasan.telepon" placeholder=""/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Email *</label>
                    <input class="form-control input-sm" type="text" ng-model="sekolah.yayasan.email" placeholder=""/>
                </div>
            </div>
        </div>

        <hr />

        <button class="btn btn-primary btn-sm" ng-click="nextstep(3)">Langkah selanjutnya</button>
        <button class="btn btn-link btn-sm" ng-click="nextstep(1)">Langkah sebelumnya</button>
    </div>
    
</section>


<section id="step-3" class="step">
    <p class="lead" style="border-bottom: 1px solid #EFEFEF; margin-bottom: 20px; padding-bottom: 10px;">3 OF 7 : PROGRAM PENDIDIKAN</p>    
    <p>Hanya di tujukan untuk SMK dan SLB</p>

    <div class="" style="margin-bottom: 50px;" ng-hide="form_program">
        <div class="panel panel-default" ng-repeat="program in sekolah.program track by $index">
            <div class="panel-heading">
                {{ program.id }} <prodi prodid="{{ program.id }}"></prodi>
            </div>
            <div class="panel-body">
                {{ program.tujuan }}
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-default btn-sm" ng-click="openProgram()">Tambah Program</button>
        </div>
    </div>

        

    </div>

    
    <hr />
    <button class="btn btn-primary btn-sm" ng-click="nextstep(4)">Langkah selanjutnya</button>
    <button class="btn btn-link btn-sm" ng-click="nextstep(2)">Langkah sebelumnya</button>
</section>

<section id="step-4" class="step">
    <p class="lead" style="border-bottom: 1px solid #EFEFEF; margin-bottom: 20px; padding-bottom: 10px;">4 OF 7 : VISI DAN MISI</p>    

    <div class="form-group">
        <label class="control-label">Visi</label>
        <textarea class="form-control input-sm" rows="6" ng-model="sekolah.visi"></textarea>   
    </div>

    <div class="form-group">
        <label class="control-label">Misi</label>
        <textarea class="form-control input-sm" rows="6" ng-model="sekolah.misi"></textarea>   
    </div>

    <hr />
    <button class="btn btn-primary btn-sm" ng-click="nextstep(5)">Langkah selanjutnya</button>
    <button class="btn btn-link btn-sm" ng-click="nextstep(3)">Langkah sebelumnya</button>
</section>

<section id="step-5" class="step">
    <p class="lead" style="border-bottom: 1px solid #EFEFEF; margin-bottom: 20px; padding-bottom: 10px;">5 OF 7 : STAKE HOLDER</p>    


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Kepala Sekolah/Madrasah</label>
                <input class="form-control" type="text" ng-model="sekolah.kepsek_nama">
            </div>
            <div class="form-group">
                <label class="control-label">NIP </label>
                <input class="form-control" type="text" ng-model="sekolah.kepsek_nip">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Pengawas Sekolah/Madrasah</label>
                <input class="form-control" type="text" ng-model="sekolah.pengawas_nama">
            </div>
            <div class="form-group">
                <label class="control-label">NIP </label>
                <input class="form-control" type="text" ng-model="sekolah.pengawas_nip">
            </div>
        </div>
    </div>
    
    <hr />
    <button class="btn btn-primary btn-sm" ng-click="nextstep(6)">Langkah selanjutnya</button>
    <button class="btn btn-link btn-sm" ng-click="nextstep(4)">Langkah sebelumnya</button>
</section>

<section id="step-6" class="step">
    <p class="lead" style="border-bottom: 1px solid #EFEFEF; margin-bottom: 20px; padding-bottom: 10px;">6 OF 7 : KONTAK</p>    

    <hr />
    <button class="btn btn-primary btn-sm">Langkah selanjutnya</button>
    <button class="btn btn-link btn-sm" ng-click="nextstep(5)">Langkah sebelumnya</button>
</section>
