.navbar {
  margin-bottom: 0px;
}

.navbar-nav > li > a {
  padding: 15px 7px;
}

.navbar-default .navbar-nav > li > a {
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333333;

  &:hover {
    color: #4183c4;
    text-decoration: none;
  }
}
