<p class="lead">Pendaftaran Akreditasi</p>

<div class="alert alert-info" ng-show="success">
    Pendaftaran berhasil dilakukan.
</div>
<div class="alert alert-danger" ng-show="error">
    Pendaftaran gagal dilakukan. Reload browser yang anda gunakan dan coba kembali.
</div>


<p>Apabila anda melakukan perubahan terhadap isian istrumen setelah melakukan pendaftaran, anda di wajibkan untuk melakukan pendaftarn kembali dengan menekan tombol "kirim".</p>

<div class="panel panel-warning hidden-print">
    <div class="panel-heading">
        <h4 class="panel-title">INFORMASI PENDAFTARAN</h4>
    </div>
    <div class="panel-body">
        <p><strong>{{ sekolah.nama }}</strong></p>
        <p>NPSN /NSS : {{ sekolah.npsn }} / {{ sekolah.nss }}</p>
        <p>
            {{ sekolah.alamat }}
            <daerah-desa daerah-id="{{ sekolah.desa_id }}"></daerah-desa>
            <daerah-kecamatan daerah-id="{{ sekolah.kecamatan_id }}"></daerah-kecamatan> <br />
            <daerah-kota daerah-id="{{ sekolah.kota_id }}"></daerah-kota>
            <daerah-provinsi daerah-id="{{ sekolah.provinsi_id }}"></daerah-provinsi>
            {{ sekolah.kode_pos }}
        </p>
        <p>
            Telpon {{ sekolah.telepon }} <br />
            Handphone {{ sekolah.handphone }} <br />
            Fax {{ sekolah.fax }} - Email {{ sekolah.email }}
        </p>
    </div>
     <div class="panel-heading">
        Koreksi, cermati dan periksa dengan benar sebelum anda melakukan upload data ke server.
    </div>
</div>

<div class="panel panel-default hidden-print">
    <div class="panel-heading">
        <h4 class="panel-title">NILAI AKREDITASI</h4>
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="prodi in sekolah.program">
            <div class="pull-right" ng-hide="prodi_current">
                {{ prodi.hasil.peringkat }} ( {{ prodi.hasil.nilai }} )
            </div>
            {{ prodi.id }}
            <prodi prodid="{{ prodi.id }}"></prodi>
        </div>
    </div>
</div>


<div class="control-label"
    style="border-bottom: 1px solid #ddd;
        padding-bottom: 10px; margin: 40px 0 10px 0">
    INFORMASI PENDAFTAR
</div>

<form name="Form" role="form">
<div class="">
    <div class="form-grop">
        <span id="pemohon_nama"></span>
        <input type="text"
            name="pemohon_nama"
            class="form-control no-bordered"
            ng-model="data.pemohon_nama"
            placeholder="Nama pendaftar"
            validator="required"
            valid-method="blur"
            required-error-message="Nama pendaftar tidak boleh kosong"
            message-id="pemohon_nama"
        >
    </div>
    <div class="form-grop">
        <span id="pemohon-nik"></span>
        <input type="text"
            name="pemohon_nik"
            class="form-control no-bordered"
            ng-model="data.pemohon_nik"
            placeholder="Nomor induk kependudukan pendaftar"
            validator="required, digit"
            valid-method="blur"
            length="16"
            required-error-message="NIK Pendaftar tidak boleh kosong"
            digit-error-message="Harus 16 digit"
            message-id="pemohon-nik"
        >
    </div>
    <br />

    <div class="control-label"
        style="border-bottom: 1px solid #ddd;
            padding-bottom: 10px; margin: 10px 0">
        UPLOAD INSTRUMEN PENGUMPULAN DATA DAN INFORMASI
    </div>

    <div class="form-group" ng-repeat="program in sekolah.program">
        <strong><prodi prodid="{{ program.id }}"></prodi></strong>
        <upload-file ng-model="program.dokumen" data-file="docs"></upload-file>
        <small class="help-block">File dalam bentuk pdf, maksimum file 2M</small>
    </div>

    <br />
    <button type="button" validation-submit="Form" ng-click="pendaftaran()" class="btn btn-primary">Kirim</button>
</div>
</form>
<br />
<br />

<div class="" ng-show="sekolah.kode">
    <p>Pendaftaran telah berhasil dilakukan dengan keterangan sebagai berikut : </p>

    <table class="table">
        <tbody>
            <tr>
                <td>Waktu Pendaftaran</td>
                <td>:</td>
                <td>{{ sekolah.created_at  }}</td>
            </tr>
            <tr>
                <td>Kode Pendaftaran atau token</td>
                <td>:</td>
                <td>{{ sekolah.kode }}</td>
            </tr>
            <tr>
                <td>Dokumen Pendukung</td>
                <td>:</td>
                <td>
                    <div ng-repeat="program in sekolah.program">
                        <strong><prodi prodid="{{ program.id }}"></prodi></strong>
                        <a href="{{ program.dokumen }}">{{ program.dokumen }}</a>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <a ui-sref="sekolah-home.cetak" role="button" class="btn btn-primary">Lihat dalam HTML</a> -->
    <a href="//api.bap-sm.or.id/pengajuan/{{ sekolah.kode }}/print" target="_blank" role="button" class="btn btn-primary">Lihat dalam PDF</a>
</div>

<hr />