<p class="lead">Dibawah ini ada beberapa cara untuk melakukan pengisian instrumen akreditasi. Pilihlah salah satu sesuai dengan kegunaan dan fungsi.</p>

<!-- List group -->
<ul class="list-group">
	<li class="list-group-item">
		<h4>Memulai baru</h4>
	</li>
	<li class="list-group-item">
		<p>Jika anda belum memiliki token dan ingin memulai baru pengsian instrumen</p> <br />
		<a class="btn btn-primary" ui-sref="sekolah-home.biodata">Mulai Pengisian</a>
		<br />
	</li>
</ul>
<ul class="list-group">
	<li class="list-group-item">
		<h4>Menggunakan Data Server</h4>
	</li>
	<li class="list-group-item">
		<p>Jika anda telah mengirim instrumen akreditasi online dan anda juga telah menerima token yang didapatkan ketika melakukan pengiriman instumen akreditasi online</p>

		<hr />

		<form class="" name="Form">
			<div class="form-group">
                <span id="token"></span>
				<input type="text"
                    name="token"
                    class="form-control no-bordered"
                    ng-model="token"
                    validator="required"
                    required-error-message="Token tidak boleh kosong"
                    placeholder="Token atau kode registrasi"
                    message-id="token">
			</div>
		</form>
		<button type="button" class="btn btn-primary" validation-submit="Form" ng-click="getData()">Mulai Pengisian </button><br />
	</li>
</ul>